.required-field:after {
    color: #ff6771;
    content: " *";
    text-align: right;
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

select {
    direction: rtl;
    width: 100%;
    text-align: center !important;
    text-align-last: center !important;
}

.custom-input {
    height: 50px;
    border-radius: 30px;
    border: 1px solid rgba(34, 36, 38, .15);
}

.custom-input:hover {
    border: 2px solid #1bc3a1;
}

.custom-input:focus {
    box-shadow: none !important;
    border: 2px solid #1bc3a1;
}

.custom-btn {
    height: 60px;
    border-radius: 30px;
    background-image: linear-gradient(to right, #1bc3a1 0%, #6fcf8f);
    display: block;
    border: none;
    font-size: 18px;
    color: #fff;
}

.custom-btn:hover {
    box-shadow: 0 4px 10px 0 rgba(11, 121, 99, 0.31);
}

.select2-container--default .select2-selection--single {
    height: 50px !important;
    border-radius: 30px !important;
}

.select2-selection__arrow {
    height: 100% !important;
}

.select2-selection__rendered {
    margin-top: 11px !important;
    width: 100% !important;
    height: 100% !important;
    text-align: center !important;
}

.invalid-feedback {
    color: #ab1717;
    width: 100% !important;
    display: block !important;
    direction: rtl !important;
    text-align: center !important;
}

.is-invalid {
    border-color: #ab1717 !important;
}

.popover-title {
    direction: ltr !important;
}

.mb-0{
    margin-bottom: 0;
}

.p-10-px{
    padding: 10px;
}

.w-100{
    width: 100%;
}

.h-300-px{
    height: 300px;
}

.op-0{
    opacity: 0;
}

.resize-none{
    resize: none;
}

.mt-20{
    margin-top: 20px;
}