.required-field:after {
    color: #ff6771;
    content: " *";
    text-align: right;
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

select {
    direction: rtl;
    text-align: center !important;
    text-align-last: center !important;
}

.custom-input {
    height: 50px;
    border-radius: 30px;
    border: 1px solid rgba(34, 36, 38, .15);
}

.custom-input:hover {
    border: 2px solid #1bc3a1;
}

.custom-input:focus {
    box-shadow: none !important;
    border: 2px solid #1bc3a1;
}

.custom-btn {
    height: 60px;
    border-radius: 30px;
    background-image: linear-gradient(to right, #1bc3a1 0%, #6fcf8f);
    display: block;
    border: none;
    font-size: 18px;
    color: #fff;
}

.custom-btn:hover {
    box-shadow: 0 4px 10px 0 rgba(11, 121, 99, 0.31);
}

.invalid-feedback {
    color: #ab1717;
    width: 100%;
    display: block;
    direction: rtl;
    text-align: center;
}

.is-invalid {
    border-color: #ab1717;
}

.block {
    color: black;
    background: #FFF;
    border: 1px solid #ccc;
    font-weight: 400;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.25);
}

.block ol li {
    font-size: 15px;
}

.mt-20{
    margin-top: 20px;
}

.mb-0{
    margin-bottom: 0;
}