.warning-color {
    color: #fff466;
}

.block {
    color: black;
    background: #FFF;
    border: 1px solid #ccc;
    font-weight: 400;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.25);
}

.block ol li {
    font-size: 15px;
}

.pt-17 {
    padding-top: 17px !important;
}

.custom-rules {
    list-style-type: none;
    margin-right: 0;
    width: 100%;
    padding-right: 0px;
}
