.social-twitter{
    background-image: url('https://lammt.com/resource/img/icon_tw.png'); background-size: 100%;
}

.social-facebook{
    background-image: url('https://lammt.com/resource/img/icon_fb.png'); background-size: 100%;
}

.social-snapchat{
    background-image: url('https://lammt.com/resource/img/icon_snap.png'); background-size: 100%;
}

.social-instagram{
    background-image: url('https://lammt.com/resource/img/icon_instagram.png'); background-size: 100%;
}
