body {
    background: #f7fbf2;
    font-family: 'Tajawal', sans-serif;
}

.wrap {
    min-height: 100%;
    min-width: 100%;
}

.header {
    padding-top: 5px;
    padding-bottom: 5px;
    direction: rtl;
    background: #ecf4e0;
}

select {
    direction: rtl;
    text-align: center !important;
    text-align-last: center !important;
}

.menu-section {
    min-height: 65px;
    max-height: 100%;
    width: 100%;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #a2d55e;
}

.bg-custom {
    background: #ecf4e0;
}

.footer {
    height: 420px;
    margin-top: 0;
    width: 100%;
    padding-top: 15px;
    background: #00bdac url('https://lammt.com/resource/img/footer_bg_top.png') no-repeat bottom left;
    font-size: 12px;
    font-weight: 400;
    color: #ecf4e0;
}

.block {
    background: #FFF;
    border: 1px solid #ccc;
    font-weight: 400;
    margin-top: 15px;
    padding: 20px;
}

.dropdown-menu {
    z-index: 1500;
}

.required-field:after {
    color: #ff6771;
    content: " *";
    text-align: right;
}

.rtl {
    direction: rtl;
}

.custom-btn {
    margin-top: 10px;
    width: 100%;
    height: 58px;
    padding: 15px;
    background: #00bdac;
    font-size: 22px;
    border-radius: 5px;
    line-height: 1;
    color: #fff;
    border: 1px solid #00bdac;
}

.filter-tabs {
    background: #fff;
    margin-left: 15px;
    border: 1px solid #a2d45e;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    color: #6c757d;
    cursor: pointer;
}

.custom-active {
    background: #a2d45e !important;
    color: #FFFFFF !important;
}

.filter-tabs:hover {
    background: #a2d45e;
    color: #FFFFFF;
}

.adv-footer {
    width: 100%;
    padding-top: 15px;
    margin-top: 10px;
    border-top: 1px dotted #f2f2f2;
}

.adv-price {
    color: #999;
    font-size: 13px;
    float: right;
    background: #f2f2f2;
    padding: 3px 20px;
    margin-right: 5px;
}

.adv-place {
    color: #999;
    font-size: 13px;
    float: left;
    background: #f2f2f2;
    padding: 3px 20px;
    margin-left: 5px;
}

ul.navbar-nav {
    width: 100%;
    padding: 0;
    text-align: center;
}

ul.navbar-nav li {
    width: auto;
    font-size: 20px;
    text-align: center;
}

ul.navbar-nav li:hover {
    border-bottom: 2px solid #a2d45e;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.booked-tickets {
    background: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid black;
    /*box-shadow: 5px 8px 8px 8px #888888;*/
}

.booked-tickets:hover {
    box-shadow: 5px 8px 8px 8px #888888;
}

.payment-verfiy {
    font-size: 12px;
    padding: 7px;
    background-color: #00bdac;
    border: 1px solid #00bdac;
    color: #FFF;
    font-weight: 700;
    display: inline-block;
}

.count-booking-tickets {
    background-color: #ff6771;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    margin-left: 5px;
    padding: 2px 0;
    text-align: center;
    width: 23px;
}

.clear {
    clear: both;
}

.profile-wall {
    border-bottom: 4px solid #f2f2f2;
    position: relative;
    width: 100%;
}

.profile-wall img {
    margin: auto 0;
    width: 100%;
    height: 100%;
}

.h-30 {
    height: 30% !important;
}

.custom-sticky-lg-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

.labels-icon {
    color: #00bdac;
    font-size: 18px;
    width: 24px;
    text-align: center;
}

.text-custom {
    color: #00bdac;
}


/* Custom CheckBox */

.checkbox-container {
    margin-top: 28px;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border: 1px silver solid;
    border-radius: 50%;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: #00bdac;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 9px;
    top: 3px;
    width: 10px;
    height: 18px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* End Custom CheckBox */

@media (min-width: 992px) {
    .custom-sticky-lg-top {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1020;
    }

    .h-lg-10 {
        height: 10% !important;
    }

    .h-lg-15 {
        height: 15% !important;
    }

    .h-lg-20 {
        height: 20% !important;
    }

    .h-lg-25 {
        height: 25% !important;
    }

    .h-lg-30 {
        height: 30% !important;
    }

    .h-lg-40 {
        height: 40% !important;
    }

    .h-lg-45 {
        height: 45% !important;
    }

    .h-lg-50 {
        height: 50% !important;
    }

    .h-lg-75 {
        height: 75% !important;
    }

    .tap-link {
        width: 120px !important;
        display: block;
    }
}

@media (min-width: 768px) {

    .custom-sticky-md-top {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1020;
    }

    .h-md-25 {
        height: 25% !important;
    }

    .h-md-30 {
        height: 30% !important;
    }

    .h-md-45 {
        height: 45% !important;
    }

    .h-md-75 {
        height: 75% !important;
    }

    .tap-link {
        width: 120px !important;
        display: block;
    }
}

@media (min-width: 576px) {
    .custom-sticky-sm-top {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1020;
    }

    .h-sm-25 {
        height: 25% !important;
    }

    .h-sm-45 {
        height: 45% !important;
    }

    .h-sm-50 {
        height: 50% !important;
    }

    .h-sm-75 {
        height: 75% !important;
    }

    .tap-link {
        width: 100% !important;
        display: block;
    }
}

/* card  */

.profile-info {
    border-right: none;
    margin-top: 60px;
    min-height: 410px;
    margin-bottom: 40px;
    border-left: 1px solid #ccc;
}

.profile-info .profile-avatar {
    position: absolute;
    background: #fff;
    width: 140px;
    height: 140px;
    top: -150px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border: 5px solid #fff;
}

.profile-info .profile-avatar img {
    width: 100%;
    height: 100%;
}

.profile-info .profile-title {
    color: #999;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.profile-info .profile-site {
    margin-bottom: 15px;
    word-wrap: break-word;
}

.profile-info .profile-description {
    color: #999;
    margin-bottom: 15px;
}

.social {
    display: block;
    width: 32px;
    height: 32px;
    margin: 5px;
}

.profile-content-wraper {
    margin-top: 60px;
}

.tap-link {
    width: 100% !important;
    display: block;
}

@media (max-width: 575.98px) {
    .tap-link {
        width: 100% !important;
        display: block;
    }
}


@media (min-width: 576px) and (max-width: 767.98px) {
    .tap-link {
        width: 100% !important;
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .tap-link {
        width: 120px !important;
        display: block;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .tap-link {
        width: 120px !important;
        display: block;
    }
}


@media (min-width: 1200px) {
    .tap-link {
        width: 120px !important;
        display: block;
    }
}