

.pt-10{
	padding-top: 10px;
}

.pt-13 {
	padding-top: 13px;
}

.mt-25{
	margin-top: 25px;
}

.mt-40{
	margin-top: 40px;
}



.w-35{
	width: 35px;
}

.w-100{
	width: 100%;
}

.w-200px{
	width: 200px;
}



.h-30{
	height: 30% !important;
}

.h-35{
	height: 35px;
}



.no-resize{
	resize: none;
}


.custom-rules {
	list-style-type: none;
	margin-right: 0;
	width: 100%;
	padding-right: 0px;
}

.b-left-1{
	border-left:1px white solid;
}

.ltr{
	direction: ltr;
}

/* For Change Text Direction Right To Left */
.rtl{
	direction: rtl;
}

/* The Block For Any Section In All Pages */
.block {
	background: #FFF;
	border: 1px solid #ccc;
	font-weight: 400;
	margin-top: 15px;
	padding: 20px;
}

.no-border{
	border-radius: 0 !important;
}