.course-logo {
    height: 300px;
    width: 100%;
    overflow: hidden
}

.course-logo img {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}

.social-media {
    position: absolute;
    bottom: 0;
    width: 92%;
    height: 40px;
    margin: auto;
    overflow: hidden;
}

.logo-holder {
    width: 90px;
    height: 90px;
    overflow: hidden;
    padding: 0;
}

.logo-holder img {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    padding: 3px;
}

.course-description {
    text-align: right;
    overflow-wrap: break-word;
}

.map {
    height: 250px;
    width: 100%;
    overflow: hidden
}

.map img {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}