.page-cover{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1500;
    display: none;
    background: rgba(115, 115, 115, 0.49);
}
.mt-15{
    margin-top: 15px;
}

.warning-color {
    color: #fff466;
}

.pt-18{
    padding-top: 18px !important;
}

.pagination{
    margin-top: 0 !important;
}